.App {
  background: rgb(255,164,0);
background: linear-gradient(90deg, rgba(255,164,0,1) 0%, rgba(121,12,9,1) 33%, rgba(2,0,36,1) 100%);
  display: grid;
  height: 85vh;
  width: 85vw;
  color: aliceblue;
  margin: 50px auto;
  border-radius: 20px;

}